@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);

body {
  box-sizing: border-box;
  background-color: ivory;
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}



.strike{
  text-decoration: line-through;
}
.container {
  width: 70%;
  margin: 2em auto 0 auto;
  text-align: center;
}
.container .heading h1 {
  margin: 0 0 1em 0;
}
.container .heading .input-task {
  width: 99%;
  margin: 0;
  padding: 4px;
  padding-right: 0;
  height: 30px;
}
.container .heading .noData {
  text-align: left;
  margin-left: 2.5px;
  margin-top: 10px;
  
}
.container .all-task {
  padding: 1em;
  margin-bottom: 2em;
}
.container .all-task .todo {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}
.container .all-task .todo .left-elements .task-added {
  // text-decoration: none;
  border: none;
}
.container .all-task .todo .right-elements {
  text-decoration: none;
}
.container .all-task .todo .right-elements i {
  color: rgba(0, 0, 0, 0.753);
}
.container .all-task .todo .right-elements .editBtn {
  margin-right: 0.5em;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
}
.container .all-task .todo .right-elements .deleteBtn {
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
}
.container .function {
  display: flex;
  justify-content: space-between;
}
.container .function .btn-left {
  display: flex;
}
.container .function .btn-left .btnSearch,
.container .function .btn-left .btnAdd {
  border: none;
  cursor: pointer;
}
.container .function .btn-left .btnSearch i,
.container .function .btn-left .btnAdd i {
  font-size: 1.5em;
}
.container .function .btn-left .focus {
  background-color: white;
}
.container .function .btn-left .focus i {
  border: 1px solid;
  padding: 5px 7px;
  text-align: center;
}
.container .function .btnGroup {
  display: flex;
}
.container .function .btnGroup button {
  border: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  float: left;
  text-align: center;
}
.container .function .btnGroup .active {
  background-color: white;
  border: 2px solid var(--color);
  color: rgba(0, 0, 0, 0.753);
  font-weight: bold;
}
.container .function .choices {
  display: flex;
}
.container .function .choices select {
  padding: 4%;
  -webkit-appearance: none;
  margin-right: 5%;
  border: none;
  font-size: 16px;
}
.container .function .choices select option {
  font-size: 12px;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 80%;
  }
}
@media only screen and (max-width: 700px) {
  .container {
    width: 90%;
  }
}
@media only screen and (max-width: 550px) {
  .container .heading h1 {
    font-size: 2.5em;
  }
  .container .function {
    display: block;
    grid-template-columns: repeat(2, 1fr);
  }
  .container .function .choices {
    width: 50%;
    margin-bottom: 10px;
  }
  .container .function .btnGroup {
    width: 50%;
  }
  .container .function .btn-left {
    width: 50%;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .container .function .btn-left i {
    font-size: 20px;
  }
}
@media only screen and (max-width: 420px) {
  .container .heading h1 {
    font-size: 2em;
  }
}

